<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE config SYSTEM "config.2.dtd">
<config version="2">
    <entry name="discord.channel.id">YOUR_CHANNEL_ID_HERE</entry>
    <entry name="discord.bot.token">YOUR_BOT_TOKEN_HERE</entry>
    <entry name="port">65000</entry>
    <userMapping>
        <user discord.user.id="DISCORD_ID" trello.user.id="TRELLO_ID"/>
    </userMapping>
    <events>
        <event name="CARD_CREATED">
            <format key="title">📥 New Card Created</format>
            <format key="body">**Card:** {#card.title}</format>
            <fields>
                <field>
                    <format key="title">List</format>
                    <format key="body">{#card.title}</format>
                </field>
            </fields>
        </event>
        <event name="CARD_COMMENTED">
            <format key="title">💬 New Comment on Card</format>
            <format key="body">**Card:** {#card.title}\n\n**Comment:** %s</format>
        </event>
        <event name="CARD_MOVED">
            <format key="title">🚚 Card Moved</format>
            <format key="body">**Card:** {#card.title}</format>
            <fields>
                <field>
                    <format key="title">From</format>
                    <format key="body">%s</format>
                </field>
                <field>
                    <format key="title">To</format>
                    <format key="body">%s</format>
                </field>
            </fields>
        </event>
        <event name="CARD_ADDED_LABEL">
            <format key="title">🏷️ Added Label To Card</format>
            <format key="body">**Card:** {#card.title}</format>
            <fields>
                <field>
                    <format key="title">Label</format>
                    <format key="body">%s</format>
                </field>
            </fields>
        </event>
        <event name="CARD_REMOVED_LABEL">
            <format key="title">🏷️ Removed Label From Card</format>
            <format key="body">**Card:** {#card.title}</format>
            <fields>
                <field>
                    <format key="title">Label</format>
                    <format key="body">%s</format>
                </field>
            </fields>
        </event>
        <event name="CARD_DESCRIPTION_CHANGED">
            <format key="title">📝 Description Updated</format>
            <format key="body">**Card:** {#card.title}</format>
            <fields>
                <field>
                    <format key="title">Before</format>
                    <format key="body">%s</format>
                </field>
                <field>
                    <format key="title">After</format>
                    <format key="body">%s</format>
                </field>
            </fields>
        </event>
        <event name="CARD_TITLE_CHANGED">
            <format key="title">✏️ Title Updated</format>
            <format key="body">**Card:** {#card.title}</format>
            <fields>
                <field>
                    <format key="title">Before</format>
                    <format key="body">%s</format>
                </field>
                <field>
                    <format key="title">After</format>
                    <format key="body">%s</format>
                </field>
            </fields>
        </event>
    </events>
</config>